@use 'typography' as *;
@use 'mixins' as *;

body {
  background: var(--color-bg);
}

html,
body {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  color: #ffff;
}

:root {
  --chip-text-color: #f5f5f5;
}

@include typography($typography);
