.app-container {
  display: grid;
  grid-template-columns: 0fr 4fr;
  grid-template-areas:
    'header header'
    'sidenav main';
}

.app-container__header {
  grid-area: header;
}

.app-container__sidenav {
  grid-area: sidenav;
}

.app-container__main {
  grid-area: main;
  padding: 0 20px;
}
