@use 'typography-crypto' as *;
@use 'mixins' as *;

html,
body {
  font-family: 'DM Sans', sans-serif;
}

:root {
  --chip-bg-color: rgba(36, 228, 164, 0.2);
  --chip-text-color: #24e4a4;
  --color-surface-low: #1c1c1e;

  //text colors
  --color-text-secondary: #777e90;
  --color-text-positive: #58bd7d;

  --color-search-input: #222630;

  //DARK
  --color-dark-background: #18191d;
  --color-dark-page: #0e0e17;
}

@include typography($typography);
